:root {
    --bg: #fae596;
    --text-color: #173e43;
    --caption-color: #173e60;
    --border-color: #dbc86a;

}
body { 
    margin:5%; 
    background:var(--bg); 
    text-align:justify;
    color: var(--text-color);
}
p {
    color: var(--text-color);
    font-family: serif;
}
H1,H2,H3,H4,H5,H6 { 
    color: var(--text-color);
    text-align: center;
    font-family: serif;
}
img {
    width: 350px;
    height: 350px;
    border: 5px solid var(--border-color);
    margin-top: 10px;
    margin-bottom: 10px;
}
figcaption {
    color: var(--caption-color);
    font-family: serif;
    font-style: italic;
}
/* 
question: DO I DELETE THEIR STYLES?
[x] Theme paragraphs with CSS
[x] Theme header tags with CSS
[x] Theme images and images captions with CSS
[x] Change the colour scheme to something aesthetically pleasing
[x] Apply 1 CSS file to 3 gutenberg documents.
[x] Include all 3 gutenberg documents HTML and assets, with the CSS applied.
[ ] document in your README what modifications you had to make to the project gutenberg HTML files.
[ ] Take 3 screenshots of firefox running all of your pages that demonstrates your theme.
[ ] Add license
*/